extends container 

include mixins/icons

block content
  form(action="")
    .mb-4.p-3.py-2.border.border-1.rounded-1.bg-gray.w-100
      label(for="get-currency").pb-2.text-secondary You get

      .input-group.mb-2
        input(type="hidden" name="base-currency" value=baseCurrencies[0].currency)

        button.btn.btn-light.border.border-1.dropdown-toggle.d-flex.align-items-center(type="button" data-bs-toggle="dropdown") 
          #base-currency-selected.d-flex.align-items-center.me-2
            each item, index in baseCurrencies
              if index == 0
                +icons.me-2(svg-icon-name=item.currency selected)
              else 
                +icons.me-2(svg-icon-name=item.currency hidden)

            span= baseCurrencies[0].currency
             
        ul#base-currency-list.dropdown-menu.bg-light
            each item in baseCurrencies
              li.dropdown-item.d-flex.justify-content-between(data-base-currency-item=item.currency)
                div.d-flex.align-items-center.fw-medium
                  +icons.me-2(svg-icon-name=item.currency)
                  span= item.currency
                div.text-secondary(data-exchange-value=item.currency)

        input#base-currency-input-amount.form-control.bg-light(name="base-currency-input-amount" type="number" placeholder='0.00' defaultValue=0 min=0)
    
    .mb-4.p-3.py-2.border.border-1.rounded-1.bg-gray.w-100
      label(for="pay-currency").pb-2.text-secondary You pay

      .input-group.mb-3
        input(type="hidden" name="currency" value=currencies.length ? currencies[0].currency : "")

        button.btn.btn-light.border.border-1.dropdown-toggle.d-flex.align-items-center(type="button" data-bs-toggle="dropdown") 
          #currency-selected.d-flex.align-items-center.me-2
            each item, index in currencies.length ? currencies : []
              if index == 0
                +icons.me-2(svg-icon-name=item.currency selected)
              else 
                +icons.me-2(svg-icon-name=item.currency hidden)

            span= currencies.length ? currencies[0].name : "  "
             
        ul#currency-list.dropdown-menu.overflow-scroll.bg-light
            each item in currencies.length ? currencies : []
             if item.providerId === 0
                li.dropdown-item.d-flex.justify-content-between(data-currency-item=item.currency)
                  div.d-flex.align-items-center.fw-medium
                    +icons.me-2(svg-icon-name=item.currency)
                    span= item.name
                  div.text-secondary(data-exchange-value=item.currency)
             else
               li.dropdown-item.justify-content-between(data-currency-item=item.currency hidden)
                  div.d-flex.align-items-center.fw-medium
                    +icons.me-2(svg-icon-name=item.currency)
                    span= item.name
                  div.text-secondary(data-exchange-value=item.currency)

        input#currency-input-amount.form-control.bg-light(name="currency-input-amount" type="text" disabled readonly value="0.00" defaultValue=0)

      #exchange-rate.mb-0.fs-6.text-secondary  ...
      
    .d-flex.align-items-center.p-3.py-2.border.border-1.rounded-1.fs-6.bg-warning.text-truncate.mb-4 
      span.material-symbols-outlined.me-1.fs-4 report 
      p.text-truncate.m-0 No hidden fees

    .mb-4.fs-6.text-center.text-secondary  
      | By proceeding with this deposit you are agreeing with 
      a.link.text-decoration-none.text-tertiary(href="https://xgateway.tech/privacy-policy/") Privacy Policy
      |  & 
      a.link.text-decoration-none.text-tertiary(href="https://xgateway.tech/terms-of-use/") Terms of Use.

    button.btn.btn-primary.w-100.p-2.fw-bold(type="submit") Proceed


block scripts 
  script#script(src="/scripts/step-one.js" type="application/javascript" data-base-currencies=baseCurrencies data-currencies=currencies)